table {
    border: 1px solid black;
    min-width: 100%;
}
td {
    border: 1px solid silver;
    padding: 0;
    min-width: 20px;
    text-align: center;
    vertical-align: middle;
}
th {
    text-align: right;
}
td.sign {
    cursor: pointer;
}
td.byte {
    cursor: pointer;
}